<!-- ---
import { getSanity } from '../libs/api.js';
import { urlForImage } from "../libs/urlForImage"

// const footer = await getSanity(`*[_type == "footer"]{
// 	logo,
// 	title,
// 	socials,
// 	linksColumns,
// 	footerButton,
// 	copyright
// }`);


// const footerData = footer[0];
---

<footer>
	
	<p>Подвал</p>
</footer>

<style lang="scss">
    footer {
        padding: 20px;
		color: #fff;
        text-align: center;
    }
</style>
 -->
