<!-- ---
import { getSanity } from '../libs/api.js';
import { urlForImage } from "../libs/urlForImage"

// const header = await getSanity(`*[_type == "header"]{
// 	logo,
// 	title,
// 	navButton,
// 	links,
// }`);

// const headerData = header[0];
---

<header>
		<p>Шапка</p>
</header>

<style lang="scss">
	header{
		padding: 20px;
		color: #fff;
        text-align: center;
	}
</style> -->